### Build StockLake

In [17]:
#from dataFrame import *
from StockCode.Portfolio import *
import warnings
warnings.filterwarnings("ignore")

In [18]:
stocklist = ['0050','2888','2884','2882','2887','2886']
lake = StockLake(start_date = '2010/01/01', end_date = '2010/12/31')
lake.add(stocklist) #選擇池子的股票

Portfolio add  0050 2888 2884 2882 2887 2886

In [14]:
lake.load_stock() # 讀取股價資料
lake.download()

0050 download complete!
2888 download complete!
2884 download complete!
2882 download complete!
2887 download complete!
2886 download complete!
^TWII benchmark download complete!
Download Stock     to : StockLake\Stock\StockLake_20210328_232133.csv
Download Benchmark to : StockLake\Benchmark\StockLake_20210328_232133_benchmark.csv

In [4]:
# stock_path = 'StockLake\\Stock\\StockLake_20200520_173437.csv'
# benchmark_path = 'StockLake\\Benchmark\\StockLake_20200520_173437_benchmark.csv'
# lake.load(file = stock_path,benchmark = benchmark_path)
lake.load()

Load Stock     data from : StockLake\Stock\StockLake_20210328_213059.csv
Load Benchmark data from : StockLake\Benchmark\StockLake_20210328_213059_benchmark.csv

In [5]:
lake.df

,High,Low,Open,Close,Volume,Adj Close,Stock
2010-01-04,56.650002,56.049999,56.450001,56.500000,20069.0,56.500000,0050
2010-01-05,56.900002,56.150002,56.799999,56.500000,16430.0,56.500000,0050
2010-01-06,57.750000,56.500000,56.500000,57.549999,18953.0,57.549999,0050
2010-01-07,58.150002,57.299999,57.599998,57.400002,14101.0,57.400002,0050
2010-01-08,57.750000,57.049999,57.299999,57.750000,11324.0,57.750000,0050
...,...,...,...,...,...,...,...
2010-12-27,21.403654,20.646002,20.835415,21.119534,24576999.0,12.078073,2886
2010-12-28,21.214241,20.930120,21.166887,20.977474,17816107.0,11.996829,2886
2010-12-29,21.593065,20.930120,20.930120,21.498360,64960739.0,12.294717,2886
2010-12-30,21.498360,20.977474,21.498360,21.072182,51059889.0,12.050989,2886
2010-12-31,21.545713,21.072182,21.072182,21.261595,58965370.0,12.159316,2886

### Build Portfolio

In [6]:
test = Portfolio(start = '2010/12/01', end = '2010/12/31')

test.add(['0050','2888','2884'])
test.assignment([0.1,0.3,0.6])
test.now_stockList()

# test.refresh()
# test.remove(['0050','2330'])
# test.add(['0050'])

Portfolio add  0050 2888 2884
Portfolio Stock List :  [('0050', 0.1), ('2888', 0.3), ('2884', 0.6)]

In [11]:
test.df

,High,Low,Open,Close,Volume,Adj Close,Stock,ROI,Allocation,Position
2010-12-01,58.000000,57.099998,57.099998,58.000000,12435.0,58.000000,0050,1.000000,0.100000,100000.000000
2010-12-02,58.700001,58.349998,58.500000,58.450001,12069.0,58.450001,0050,1.007759,0.100776,100775.863384
2010-12-03,59.000000,58.599998,58.599998,59.000000,13481.0,59.000000,0050,1.017241,0.101724,101724.137931
2010-12-06,59.349998,59.000000,59.000000,59.150002,8939.0,59.150002,0050,1.019828,0.101983,101982.761252
2010-12-07,59.200001,58.849998,59.200001,59.099998,5458.0,59.099998,0050,1.018965,0.101897,101896.549093
...,...,...,...,...,...,...,...,...,...,...
2010-12-27,8.842728,8.325215,8.325215,8.730225,22617192.0,7.127625,2884,1.186544,0.711927,711926.555401
2010-12-28,8.797727,8.617722,8.797727,8.730225,22003875.0,7.127625,2884,1.186544,0.711927,711926.555401
2010-12-29,9.225238,8.685224,8.685224,9.180237,41352263.0,7.495028,2884,1.247706,0.748624,748623.866320
2010-12-30,9.225238,8.910230,9.225238,9.000232,28559260.0,7.348067,2884,1.223242,0.733945,733944.932426
2010-12-31,9.180237,8.977732,9.045234,9.022733,21990542.0,7.366437,2884,1.226300,0.735780,735779.840837

In [8]:
test.load_data(StockLake = lake)
test.portfolio()

Start load stock data
Start load benchmark data

In [10]:
test.metric(index = 'test')

,Sharpe Ratio,BETA,Variance,Treynor Ratio,Jensen Ratio,Information Ratio
test,2.2678,1.7704,0.0003,0.0047,0.0042,0.3643